# Database
DB_DSN=mysql:host=mysql;dbname=telegram_monitor
DB_USERNAME=root
DB_PASSWORD=secret
DB_CHARSET=utf8mb4

# Redis
REDIS_HOSTNAME=redis
REDIS_PORT=6379
REDIS_DATABASE=0

# Telegram Bot API
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBAPP_URL=

# Telegram MTProto
MTPROTO_APP_ID=
MTPROTO_APP_HASH=

# Application
YII_DEBUG=true
YII_ENV=dev
